.card {
    width: 400px; /* Устанавливает ширину карточки */
    height: 650px; /* Устанавливает высоту карточки */
    margin: 5px; /* Устанавливает внешний отступ вокруг карточки */
    background-color: #D2B48C; /* Задает фоновый цвет карточки */
    border-radius: 60px; /* Скругляет углы карточки */
    display: flex; /* Использует flexbox для размещения дочерних элементов */
}

.hidden {
    display: none; /* Скрывает элемент по умолчанию */
    text-align: center; /* Выравнивает текст по центру */
    padding-top: 40px; /* Устанавливает внутренний отступ сверху */
    width: 40%; /* Устанавливает ширину элемента */
}

.card:hover {
    width: 800px; /* Увеличивает ширину карточки при наведении курсора */
    transition: 1s; /* Добавляет анимацию перехода с продолжительностью 1 секунда */
}

.card:hover .hidden {
    display: block; /* Показывает скрытый элемент при наведении на карточку */
}

.content {
    width: 400px; /* Устанавливает ширину контентного блока */
}

.photo {
    height: 40%; /* Устанавливает высоту блока для фотографии */
    padding: 40px; /* Устанавливает внутренние отступы со всех сторон */
}

img {
    position: relative; /* Устанавливает относительное позиционирование для изображения */
    width: 100%; /* Устанавливает ширину изображения равной ширине родительского элемента */
    border-radius: 30px; /* Скругляет углы изображения */
    object-position: center; /* Центрирует изображение внутри контейнера */
}

.info {
    padding: 40px; /* Устанавливает внутренние отступы со всех сторон */
    text-align: center; /* Выравнивает текст по центру */
}